/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/bootstrap.min.css"; 

.navbar {
    color: white
}

nav.bg-primary{
    background-color: #495056!important;
}
.navbar-link {
    color: rgb(184, 184, 184);
}

.back-btn {
    float: right;
    margin-top: -50px;
}

.row-btn {
    padding: 1px 5px 1px 5px;
    margin-left: 5px;
}

.top-btn {
    margin-bottom: 15px;
    margin-right: 15px;
}

.btn a{
    color: white
}

.footer {
    align-items: center;
    margin-bottom: 20px;
}

.row-action {
    position: absolute;
    right: 15px;
}

.userinfo {
     padding-right: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.float-right {
    float: right;
}

table, td, th { 
    vertical-align: middle;
    border: none;
}

th {
    border-bottom: 1px solid #DDD;
}

body {
    margin: 0;
}

@media only screen and (min-width: 768px){
    .post-preview>a>.post-title {
        font-size: 36px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #50606f;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.containerh1 h2,
.container h3, 
.container h4, 
.container h5, 
.container h6:hover  {
    color:inherit;
}

a.navbar-link:hover {
    color: white;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 100px;
}