// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-by {
  font-weight: 300;
  font-style: italic
}

.comment-col {
  margin-top: 15px;
}

.comment-row {
   padding: 15px;
}

.new_comment {
  padding-top: 10px;
}